/* PAGE */

html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

p {
	margin-top: 0;
    margin-bottom: 1.5rem;
}

.display-4 {
	font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.lead {
	font-size: 1.25rem;
    font-weight: 300;
}

.btn-primary {
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    text-decoration: none;
    padding: .8rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem;
}

.jumbotron {
	margin: 0;
	padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

#chart-container {
	width: 100%;
	height: 75%;
	text-align: center;
}

/* CHART */

.circle {
    opacity: 0.7;
}

.circle:hover + .text {
	visibility: visible;
}

.axis {
	color: black;
}

.grid {
	color: #d0dae8;
}

.label {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 14px;
}

#title {
	font-size: 28px;
}

.tooltip {
	border: 1px solid black;
	border-radius: 4px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	background-color: white;
	text-align: center;
	padding-left: 8px;
	padding-right: 8px;
}

.tooltip-title {
	padding-top: 5px;
	font-size: 20px;
}

.tooltip-content {
	margin-top: 5px;
	padding-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.tooltip-row {
	padding-top: 4px;
	padding-bottom: 4px;
	border-top: 1px dotted black;
}

.tooltip-data-name {
	font-size: 14px;
}

.tooltip-data-value {
	font-size: 28px;
}