html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #fff;
    color: #212529;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

h4 {
    color: #373a3c;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: .5rem;
}

p {
    margin-bottom: 1.5rem;
    margin-top: 0;
}

.container {
    color: #373a3c;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    padding-left: .9375rem;
    padding-right: .9375rem;
}

.container::after {
    clear: both;
    content: "";
    display: table;
}

.display-4 {
    color: #373a3c;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.1;
    margin-bottom: .5rem;
}

.med-text {
    font-size: 1.25rem;
}

.large-text {
    font-size: 1.5rem;
}

.lead {
    color: #373a3c;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 200;
    line-height: 1.1;
    margin-bottom: .5rem;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: .3rem;
    color: #fff;
    line-height: 1.5;
    padding: .8rem 1rem;
    text-decoration: none;
}

.jumbotron {
    background-color: #e9ecef;
    border-radius: .3rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 2rem;
    margin-top: 2%;
    padding: 2rem 1rem;
}

.chart-container {
    color: #373a3c;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    margin-bottom: 15px;
    max-width: 1140px;
    min-height: 400px;
    padding-left: .9375rem;
    padding-right: .9375rem;
    position: relative;
    text-align: center;    
}

.chart {
    height: 100%;
    width: 100%;
}

.settings {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    color: #373a3c;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    margin-bottom: 5%;
    margin-top: 2%;
    max-width: 1140px;
    min-height: 100px;
    padding: .9375rem;
    position: relative;
    text-align: left;    
}

.selector-container {
    width: 40%;
}

.information {
    margin-left: .5rem;
    position: relative;
}

.about {
    color: #373a3c;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
}

.legends-container {
    display: block;
    margin-bottom: -4%;
    margin-left: -.9375rem;
    margin-right: -.9375rem;
    text-align: center;
}

.legends-container::after {
    clear: both;
    content: "";
    display: table;
}

.legend-one-container {
    color: #373a3c;
    display: block;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 4%;
    max-width: 320px;
    min-height: 1px;
    padding-left: .9375rem;
    padding-right: .9375rem;
    position: relative;
    text-align: center;
}

.legend-one {
    display: inline-block;
    height: 100%;
    width: 70%;
}

.legend-two-container {
    color: #373a3c;
    display: block;
    float: right;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    margin-bottom: 15px;
    margin-top: 4%;
    max-width: 320px;
    min-height: 1px;
    padding-left: .9375rem;
    padding-right: .9375rem;
    position: relative;
    text-align: center;
}

.legend-two {
    display: inline-block;
    height: 100%;
    width: 70%;
}

.legend-left {
    color: #373a3c;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
}

.legend-right {
    color: #373a3c;
    float: right;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
}

.legend-bottom {
    position: relative;
}

.circle-info-top {
    font-size: 0.87rem;
    max-height: 30px;
    padding: 4%;
    position: relative;
}

.circle-info-bottom {
    position: relative;
    text-align: left;
}

.chart-items {
    color: #373a3c;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.5;
    margin-bottom: 15px;
    max-width: 96%;
    min-height: 1px;
    padding-left: .9375rem;
    padding-right: .9375rem;
    position: relative;
    text-align: left;
}

.circle {
    opacity: 0.7;
}

.circle:hover + .text {
    visibility: visible;
}

.axis {
    color: black;
}

.grid {
    color: #d0dae8;
}

.label {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.tooltip {
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}

.tooltip-title {
    font-size: 20px;
    padding-top: 5px;
}

.tooltip-content {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.tooltip-row {
    border-top: 1px dotted black;
    padding-bottom: 4px;
    padding-top: 4px;
}

.tooltip-data-name {
    font-size: 14px;
}

.tooltip-data-value {
    font-size: 28px;
}