@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
 
.circle {
    opacity: 0.7;
}

.circle:hover + .text {
	visibility: visible;
}

.label {
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
}

#title {
	font-size: 28px;
}